.header {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-div {
  height: 98%;
  width: 60%;
  background-color: black;
  border-radius: 40px;
  border: solid white 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-wars-title {
  font-family: starWarsFont;
  font-size: 80px;
  color: #F3FA03;
  text-align: center;
}

.github-img-header {
  width: 60px;
}
.github-btn-header {
  position: absolute;
  left: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: transform 150ms ease-in-out;
}

.github-btn-header:hover {
  transform: scale(1.1);
}

.linkedin-img-header {
  width: 60px;
  
}

.linkedin-btn-header {
  position: absolute;
  left: 100px;
  border: none;
  cursor: pointer;
  z-index: 25;
  background-color: transparent;
  transition: transform 150ms ease-in-out;
}

.linkedin-btn-header:hover {
  transform: scale(1.1);
}

@font-face {
  font-family: starWarsFont;
  src: url('../Media/Starjedi.ttf');
}

@media (max-width: 1560px) {
  .star-wars-title {
    font-size: 50px;
  }
  .header {
    height: 130px;
  }
}

@media (max-width: 1000px) {
  .header {
    display: none;
  }
}

@media (max-width: 960px) {
  .header {
    height: 150px;
  }
}
