table, th, td {
  border: solid #F3FA03 1px;
  border-collapse: collapse;
}

table {
  width: 100%;
  table-layout: fixed;
}

.table-div {
  height: 800px;
}

th {
  height: 60px;
  background-color: black;
  font-size: 22px;
  color: white;
}

td {
  height: 40px;
  background-color: black;
  color: white;
  padding: 0px 20px 0px 20px;
  font-size: 20px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.2s ease-in-out;
}

.hover:hover {
  color: aqua;
  font-size: 22px;
  cursor: pointer;
}